
.example {
  color: $mainColor;
  font-size: px(40);
  font-weight: 500;
  max-width: px(500);
  margin: 0 auto;
}

.header{
  font-family: 'bariol_serif_regular';
  font-size:36px;
  font-weight:100;
  line-height:
normal
;
text-rendering:
auto
;
text-size-adjust:
100%
;
width:
auto
;
-webkit-font-smoothing:
antialiased
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
}

.link {
  color: $yellow;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: px(2);
    bottom: px(0);
    background-color: $yellow;
    right: px(-1);
    left: @right;
  }

  &:hover {
    color: $red;
    &:before {
      background-color: $red;
    }
  }
}

.p {
  color: $mainColor;
}

.button {
  margin-top: px(50);
  width: px(50);
  height: @width;
  color: #333;
  font-size: px(30);
  text-align: center;
  background-color: $mainColor;
  display: inline-block;
  border-radius: px(3);
}

@font-face {
  font-family: 'bariol_serifregular';
  src: url('/fonts/bariol_serif_regular-webfont.eot');
  src: url('/fonts/bariol_serif_regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('/fonts/bariol_serif_regular-webfont.woff2') format('woff2'),
   url('/fonts/bariol_serif_regular-webfont.woff') format('woff'),
   url('/fonts/bariol_serif_regular-webfont.ttf') format('truetype'),
   url('/fonts/bariol_serif_regular-webfont.svg#bariol_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
  
  }
.minilistcol{
  
}
.otherarticles{
  margin:-15px -15px;
}

 :global #videopreview div{
  padding-left:0px;
  padding-right:0px;
} 
:global #videopreview {
  margin:15px 30px 15px 15px;  
}
:global #first{
  height:358px;
}
:global #videostitle{
  font-size: 34px;
  letter-spacing: 1px;
  color: #0874B4;
}
/* :global #videostitle:before {
  content: 'Youturn Videos';
  position: absolute;
  display: block;
  top: 10%;
  left: -1000px;
  right: -1000px;
  height: 1px;
  background-color: #dcdfe4;
} */
/* :global .embed-container { position: relative; padding-bottom: 56.25%; height: 400px; overflow: hidden; max-width: 100%; } 
:global .embed-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
:global .embed-container object { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
:global .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } */